 {% load static %}
 {% include 'header.html' %}
  <!-- Hero section -->
  <div class="about-first-container animate-on-scroll">
        <div class="about-second-container">
          <h1>Contact Us</h1>
          <ol class="lists">
            <li class="inner-lists"><a href="#">HOME <span>/</span></a></li>
            <li class="inner-lists"><a href="#">ABOUT <span>/</span></a></li>
            <li class="inner-lists"><a href="#">CONTACT</a></li>
          </ol>
        </div>
  </div>
 <!-- Hero Ends -->

 <!-- Form Start -->
    <div class="first-contact-container animate-on-scroll">
  <div class="container-contact contact-box-bg">
    <div class="row">
      <!-- Left: Contact Form -->
      <div class="col-lg-7 form-text">
        <h1 class="contact-title">Contact Us For Any Queries!</h1>
        <p class="contact-desc">
        We'd love to hear from you! Fill out the form below and our team will respond as soon as possible. <a href="#">Download Now.</a>
        </p>
        <form method="post" action="{% url 'contact' %}">
          {% csrf_token %}
          <div class="row g-3">
            <div class="col-12">
              <input type="text" class="form-control" id="name" placeholder="Your Name" name="name">
            </div>
            <div class="col-12">
              <input type="email" class="form-control" id="email" placeholder="Enter Your Email" name="email">
            </div>
            <div class="col-12">
              <textarea class="form-control" placeholder="Your Message" name="message" id="message" style="height: 100px"></textarea>
            </div>
            <div class="col-12">
                  <button class="btn btn-primary w-100 py-3 ms-0 form-button" type="submit" class="send-btn">SEND MESSAGE</button>
            </div>
          </div>
        </form>
      </div>
      <!-- Right: Contact Info Cards -->
      <div class="col-lg-4">
        <div class="contact-info-cards">
          <div class="contact-card">
            <div class="contact-icon"><i class="fas fa-map-marker-alt"></i></div>
            <div>
              <h5>Address</h5>
              <p>123 Street, New Delhi India</p>
            </div>
          </div>
          <div class="contact-card">
            <div class="contact-icon"><i class="fas fa-envelope"></i></div>
            <div>
              <h5>Mail Us</h5>
              <p>mahapatrasagarika567@gmail.com</p>
            </div>
          </div>
            <div class="contact-card">
             <div class="contact-icon"><i class="fas fa-phone"></i></div>
             <div>
              <h5>Telephone</h5>
              <p>+0123456789</p>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 <!-- Form Ends -->

 
 {% include 'footer.html' %}
    
  

