  {% load static %}
  {% include 'header.html' %}
 <!-- Hero section -->
  <div class="main-hero"> 
    <div class="hero">
        <div class="welcome">
            <h1>Welcome</h1>
            <div class="para"><h1>Beauty Salon Fashion For Women</h1></div> 
        </div>
    </div>
    <div class="slider animate-on-scroll">

    </div>
  </div>
  <!-- Hero Section Ends -->

  <!-- About Starts -->
  <section>
    <div class="sec1">
      <div class="img"></div>
      <div class="flex-items">
        <div class="button">
          <i class="fa-solid fa-phone-flip"></i>
        </div>
        <div class="f-i">
          <h3>+0123456789</h3>
          <p>Call us direct 24/7 for get a free consultation.</p>
        </div>        
      </div>       
    </div>
    
    <div class="sec2">
        <h1>About Us</h1>
        <h2>Why People Choose Us!</h2>
        <p>At our beauty parlour, we believe every woman deserves to feel confident, radiant, and truly pampered 
          with services that not only enhance outer beauty but also revive the soul from within.
          With years of experience, a passionate team, and a deep understanding of modern beauty trends,
          we offer personalized care and top-quality treatments to bring out the best version of you.
        </p>
        <div class="main-cal">
          <div class="calender">
            <i class="fa-solid fa-calendar-days"></i>
            <h1>25</h1>
            <p>Years Experience</p>          
          </div>
          <div class="calender">
            <i class="fa-solid fa-users"></i>
            <h1>999</h1>
            <p>Happy Customers</p>
          </div>
        </div>
    </div>
  </section>
  <!--About Ends  -->
   
 <!-- Team Members Start -->

 <div class="container-members">
    <div class="container-team">
      <div class="text-center">
        <h1 class="text-service">Team Members</h1>
        <h1 class="explore-service">Our Experienced Specialists</h1>
      </div>
      <div class="card-background-row">

      </div>
      <div class="card-container">
       <div class="specialist-card">
          <img src="{% static 'Images/test1.jpg' %}" alt="">
         <div class="team-overlay">
           <p>Hair Specialist</p>
           <h4>Sophia Bennett</h4>           
           <div class="social">
             <a href="#" class="btn btn-primary team-icon"><i class="fab fa-facebook-f"></i></a>
             <a href="#" class="btn btn-primary team-icon"><i class="fab fa-instagram"></i></a>
             <a href="#" class="btn btn-primary team-icon"><i class="fab fa-linkedin-in"></i></a>
           </div>
         </div>
       </div>
       <div class="specialist-card">
          <img src="{% static 'Images/test2.jpg' %}" alt="">
         <div class="team-overlay">
           <p>Nail Designer</p>
           <h4>Olivia Smith</h4>           
           <div class="social">
             <a href="#" class="btn btn-primary team-icon"><i class="fab fa-facebook-f"></i></a>
             <a href="#" class="btn btn-primary team-icon"><i class="fab fa-instagram"></i></a>
             <a href="#" class="btn btn-primary team-icon"><i class="fab fa-linkedin-in"></i></a>
           </div>
          </div>
       </div>
       <div class="specialist-card">
          <img src="{% static 'Images/test3.jpg' %}" alt="">
          <div class="team-overlay">
           <p>Makeup Artist</p>
           <h4>Amelia Foster</h4>
           <div class="social">
             <a href="#" class="btn btn-primary team-icon"><i class="fab fa-facebook-f"></i></a>
             <a href="#" class="btn btn-primary team-icon"><i class="fab fa-instagram"></i></a>
             <a href="#" class="btn btn-primary team-icon"><i class="fab fa-linkedin-in"></i></a>
           </div>
         </div>
     </div>
     <div class="specialist-card">
          <img src="{% static 'Images/test4.jpg' %}" alt="">
          <div class="team-overlay">
           <p>Spa Specialist</p>
           <h4>Isabella Hart</h4>
           <div class="social">
             <a href="#" class="btn btn-primary team-icon"><i class="fab fa-facebook-f"></i></a>
             <a href="#" class="btn btn-primary team-icon"><i class="fab fa-instagram"></i></a>
             <a href="#" class="btn btn-primary team-icon"><i class="fab fa-linkedin-in"></i></a>
           </div>
         </div>
     </div>
   </div>
 </div> 
 <!-- Team Members Ends -->

 
 <!-- Testimonial Starts -->
 <div class="container-testomonial">
   <div class="container-test">
     <div class="text-center">
       <h1 class="text-service">Testimonial</h1>
       <h1 class="explore-service">What Clients Say!</h1>
     </div>
     <div class="all-testomonial">
       <div class="inner-div ">
         <i class="fa-solid fa-quote-left"></i>
         <p>Strong trust-building through understanding and meeting client needs.</p>
         <img src="{% static 'Images/testimonial-4.jpg' %}" alt="">
         <p class="rating">★★★★★</p>
         <h3>Mia Lewis</h3>
         <p>Fashion Designer</p>
       </div>
       <div class="inner-div middle">
         <i class="fa-solid fa-quote-left"></i>
         <p>Personalized advice and a calming, no-fuss environment that builds trust.</p>
         <img src="{% static 'Images/testimonial-3.jpg' %}" alt="">
         <p class="rating">★★★★☆</p>
         <h3>Olivia Brown</h3>
         <p>Architect</p>
       </div>
       <div class="inner-div">
         <i class="fa-solid fa-quote-left"></i>
         <p>Punctuality and respectful communication that enhance client confidence.</p>
         <img src="{% static 'Images/testimonial-1.jpg' %}" alt="">
         <p class="rating">★★★☆☆</p>
         <h3>Sophia Patel</h3>
         <p>Actress</p>
       </div>
     </div>
   </div>
 </div>
 <!-- Testomonials Ends -->

 
 {% include 'footer.html' %}

